<template name="notFound">
    <div id="notFound" class="ui two column centered grid">
        <div class="ui huge header">
            <div class="content">404</div>
            <div class="sub header">
                Lost?
            </div>
        </div>
        <div class="one column centered row">
            <div class="ui centered row">
                <a href="{{pathFor 'home'}}">
                    <img src="/icons/logo.png" />
                </a>
            </div>
        </div>
    </div>
</template>
