<template name="play">
    <div id="main-segment" class="ui thirteen wide centered column stacked segment">
        <div id="quiz" class="ui form">
            {{#each problems}}
                {{#if $.Session.equals 'questionNumber' number}}
                    {{> question}}
                    {{#if aware}}<h1 id="timer" class="ui header"></h1>{{/if}}
                    <div class="ui centered stackable grid">
                        <div class="row">
                            {{#if $eq type 'find'}}
                                {{> find}}
                            {{else}}
                                {{> fix}}
                            {{/if}}
                        </div>
                        {{#if $.Session.get 'answered'}}
                            <div class="row">{{> controls}}</div>
                        {{/if}}
                    </div>
                {{/if}}
            {{/each}}
        </div>
    </div>
</template>

<template name="answer">
    <div id="answer-segment">
        <pre class="ui segment">
            <label class="ui two inline fields">
                <div class="ui center aligned header field">Your current answer* is:</div>
                <code id="selected-code"
                      class="field {{#if $eq language 'htmlmixed'}}language-html{{else}}{{language}}{{/if}}"></code>
            </label>
            <label class="ui bottom attached label">* Your answer is not final until you click 'continue'</label>
        </pre>
    </div>
</template>

<template name="codePrompt">
    <pre id="pre-prompt-{{number}}" class="pre-prompt">
    <code id="code-prompt-{{number}}"
          class="{{#if $eq language 'htmlmixed'}}language-html{{else}}{{language}}{{/if}}">
        {{code}}
    </code>
    </pre>
</template>

<template name="controls">
    <div class="ui bottom attached huge icon one item menu">
        <a class="item">
            <div id="nextQuestion" class="ui basic button">Continue<i class="angle right icon"></i></div>
        </a>
    </div>
</template>

<template name="find">
    <div class="ui twelve wide column">
        {{> codePrompt}}
        {{#if $.Session.get 'answered'}}
            {{> answer}}
        {{/if}}
    </div>
</template>

<template name="fix">

</template>

<template name="question">
    <h2 class="ui dividing huge {{difficulty}} header">
        <i class="{{difficulty}} bordered fitted inverted {{#if $eq type 'find'}}search{{else}}wrench{{/if}} icon"></i>
        <div class="content">
            Question {{number}}
            <div class="sub header">
                {{prompt}}
            </div>
        </div>
    </h2>
</template>
