<template name="home">
    <div id="main-segment" class="ui computer thirteen wide mobile sixteen wide centered column segment">
        <div class="ui one column grid">
            <div class="ui column marginless grid">
                <div class="ui three item stackable tabular top attached menu computer tablet only row">
                    <a class="ui tab active item" data-tab="quizzes">
                        Available Quizzes
                    </a>
                    <a class="ui tab item" data-tab="scores">
                        Review Scores
                    </a>
                    <a class="ui tab item" data-tab="profile">
                        Edit Profile
                    </a>
                </div>
                <div class="ui active bottom attached tab segment" data-tab="quizzes">
                    {{> quizList}}
                </div>
                <div class="ui bottom attached tab segment" data-tab="scores">
                    {{> scores}}
                </div>
                <div class="ui bottom attached tab segment" data-tab="profile">
                    {{> profile}}
                </div>
            </div>
        </div>
    </div>
</template>

<template name="chartCanvas">
    <canvas id="{{id}}" width="400" height="400"></canvas>
</template>

<template name="quizList">
    <div class="ui header">
        My Quizzes
    </div>
    <div class="ui middle aligned divided relaxed list">
        {{#each myQuizzes}}
            {{> quizItem}}
        {{/each}}
        <div class="ui item">
            <a id="add-quiz" class="ui right floated content">
                <i class="add icon"></i> Create New Quiz
            </a>
        </div>
    </div>
    <div class="ui header">
        All Quizzes
    </div>
    <div class="ui middle aligned divided relaxed list">
        {{#each quizzes}}
            {{> quizItem}}
        {{/each}}
    </div>
</template>

<template name="quizItem">
    <div class="item">
        <div class="right floated content">
            {{#if $eq owner currentUser._id}}
                <div class="edit-quiz ui button">edit quiz</div>
            {{/if}}
            <div class="black take-quiz ui button">take quiz</div>
        </div>
        <i class="large {{#if aware}}clock{{else}}pencil{{/if}} middle aligned icon"></i>
        <div class="content">
            <a class="ui header">
                {{title}}
                <h4 class="sub header">by
                    {{#with this.author}}
                        {{name}}
                        {{#if picture}}
                            <img class="ui avatar image" src="{{picture}}"/>
                        {{/if}}
                    {{/with}}
                </h4>
            </a>
            <div class="description">last updated on {{this.lastUpdate}}</div>
        </div>
    </div>
</template>
