<template name="creator">
    <div id="creator" class="ui sixteen wide centered column segment">
        <div class="ui one column grid">
            <div class="ui column">
                {{# with quiz}}
                    <div class="ui stackable tabular top attached menu">
                        <a class="ui active tab item" data-tab="-1">
                            Info.
                        </a>
                        {{#each newQuestions}}
                            {{> questionTab}}
                        {{/each}}
                        {{> addQuestion}}
                    </div>
                    {{> infoPage}}
                    {{#each newQuestions}}
                        {{> questionPage}}
                    {{/each}}
                {{/with}}
            </div>
        </div>
    </div>
</template>

<template name="findCreator">
    <div id="findForm" class="ui form">
        <div class="field">
            <label>Text Prompt</label>
            <textarea name="text-prompt" rows="2"></textarea>
        </div>
        <div class="field">
            <label>Code Prompt</label>
            <div class="inline fields">
                {{> languageSelectorDropdown}}
                <div class="ui right floated column">
                    {{> viewSelector}}
                </div>
            </div>
            {{> codeEditor question=question}}
        </div>
        <div class="field">
            <div class="inline fields">
                <label>Answers</label>
                {{> delimiterSelection}}
            </div>
            {{> answerCode question=question}}
        </div>
        {{> submissionRow}}
    </div>
</template>

<template name="addQuestion">
    <div class="fluid right menu">
        <a id="addQuestion" class="item">
            <i class="add icon"></i> New Question
        </a>
    </div>
</template>

<template name="infoPage">
    <div class="ui active bottom attached tab segment" data-tab="-1">
        <form id="quizInfoForm" class="ui fluid form">
            <div class="two fields">
                <div class="field">
                    <label>Assessment Title</label>
                    <input name="title" placeholder="title" type="text" value="{{title}}">
                </div>
                <div class="field">
                    <label>Organization Name</label>
                    <input name="org" placeholder="organization" type="text" value="{{organization}}">
                </div>
            </div>
        </form>
    </div>
</template>

<template name="submissionRow">
    <div class="ui two column stackable grid field">
        <div class="inline fields column">
            <label>Difficulty</label>
            <div class="difficulty ui compact buttons">
                <button class="ui {{#if $eq difficulty 'olive'}}striped{{/if}} olive button" data-value="olive">Easy
                </button>
                <button class="ui {{#if $eq difficulty 'blue'}}striped{{/if}} blue button" data-value="blue">Medium
                </button>
                <button class="ui {{#if $eq difficulty 'violet'}}striped{{/if}} violet button" data-value="violet">
                    Hard
                </button>
                <button class="ui {{#if $eq difficulty 'red'}}striped{{/if}} red button" data-value="red">Very Hard
                </button>
            </div>
        </div>
        {{#if $.Session.equals 'questionNumber' number}}
            {{> submitButton}}
        {{/if}}
    </div>
</template>

<template name="submitButton">
    <div class="ui right floated column">
        <button id="submitQuestions" class="ui animated black huge fade right floated submit button"
                tabindex="0" type="submit">
            <div class="visible content">submit</div>
            <div class="hidden content">
                <i class="check icon"></i>
            </div>
        </button>
    </div>
</template>

<template name="questionPage">
    <div class="ui bottom attached tab segment" data-tab="{{question.number}}">
        {{> questionTypeSelector question=question}}
        <div id="question-{{question.number}}" class="ui segment transition hidden">
            {{#if $eq question.type 'find'}}
                {{> findCreator question=question}}
            {{/if}}
        </div>
    </div>
</template>

<template name="questionTab">
    <a class="ui tab item" data-tab="{{number}}">
        Question {{number}}
    </a>
</template>

<template name="questionTypeSelector">
    <div id="question-{{question.number}}-type" class="ui fluid styled accordion">
        <div class="ui title">
            {{#if type}}
                Question Type: {{question.type}}
            {{else}}
                Select a Question Type
            {{/if}}
            <i class="dropdown icon"></i>
        </div>
        <div class="ui content">
            <div class="ui celled fluid two column grid">
                <div class="ui buttons column">
                    <div class="question-type {{#if $eq question.type 'knowledge'}}striped{{/if}} ui teal fluid icon button">
                        <i class="idea icon"></i>
                        knowledge
                    </div>
                    <div class="question-type {{#if $eq question.type 'find'}}striped{{/if}} ui blue fluid icon button">
                        <i class="search icon"></i>
                        find
                    </div>
                </div>
                <div class="ui buttons column">
                    <div class="question-type {{#if $eq question.type 'fix'}}striped{{/if}} ui orange fluid icon button">
                        <i class="wrench icon"></i>
                        fix
                    </div>
                    <div class="question-type {{#if $eq question.type 'input/output'}}striped{{/if}} ui green fluid icon button">
                        <i class="exchange icon"></i>
                        input/output
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
