<template name="infoPage">
    <div class="ui active bottom attached tab segment" data-tab="-1">
        <form id="quizInfoForm" class="ui fluid form">
            <div class="two fields">
                <div class="field">
                    <label>Assessment Title</label>
                    <input name="title" placeholder="title" type="text" value="{{title}}">
                </div>
                <div class="field">
                    <label>Organization Name</label>
                    <input name="org" placeholder="organization" type="text" value="{{organization}}">
                </div>
            </div>
        </form>
    </div>
</template>
