<template name="knowledge">
    <div class="ui centered fifteen wide column grouped fields">
        {{#each choices}}
            <div class="field">
                <div class="ui {{#if $eq type 'radio'}}radio{{/if}} checkbox">
                    <input name="choice" {{checked}} class="hidden" data-value="{{number}}" tabindex="0"
                           type="{{type}}">
                    <label>{{text}}</label>
                </div>
            </div>
        {{/each}}
    </div>
</template>

<template name="knowledgeCreator">
    <div class="ui form">
        <div class="ui padded stackable two column grid">
            <div class="grouped fields column">
                <div class="field">
                    <label>Text Prompt</label>
                    <textarea name="text-prompt" rows="2">{{prompt}}</textarea>
                </div>
                <div class="field">
                    <a class="add-code-snippet ui compact icon labeled tiny button {{#if useCodeSnippet}}red{{else}}green{{/if}} label">
                        <i class="{{#if useCodeSnippet}}minus{{else}}plus{{/if}} icon"></i>
                        Code Snippet
                    </a>
                    {{#if useCodeSnippet}}
                        <label class="ui centered header">Code Snippet</label>
                        <div class="inline fields">
                            {{> languageSelectorDropdown}}
                            <div class="ui right floated column">
                                {{> viewSelector}}
                            </div>
                        </div>
                        {{> codeEditor}}
                    {{/if}}
                </div>
                <div class="field">
                    <div class="inline fields">
                        <label>Multiple Choice Options</label>
                        {{> multipleChoiceType}}
                    </div>
                    {{#each multipleChoices}}
                        {{> multipleChoiceOption}}
                    {{/each}}
                    <div class="ui inline field">
                        <i class="circular add icon link"></i>
                        <label>add answer option</label>
                    </div>
                </div>
            </div>
            <div class="ui stacked segment column">
                <div class="ui pink dividing header">
                    Preview
                    <div class="ui sub header">
                        (of correct answer)
                    </div>
                </div>
                <div class="grouped fields">
                    <label>{{prompt}}</label>
                    {{#if useCodeSnippet}}
                        {{> codePreview}}
                    {{/if}}
                    {{#each multipleChoices}}
                        {{> optionPreview}}
                    {{/each}}
                </div>
            </div>
            {{> submissionRow}}
        </div>
    </div>
</template>

<template name="multipleChoiceOption">
    <div class="ui left labeled icon input">
        <a class="truth ui basic inverted {{#if truth}}green{{else}}red{{/if}} right pointing label">
            {{#if truth}}true{{else}}false{{/if}}
        </a>
        <input name="choice-{{number}}" placeholder="Type an answer here..." type="text" value="{{text}}">
        <i class="circular red delete icon link"></i>
    </div>
</template>

<template name="multipleChoiceType">
    <div id="multiple-choice-type" class="ui dropdown">
        <div class="default text">type</div>
        <i class="dropdown icon"></i>
        <div class="menu">
            <div class="item" data-value="checkbox">
                <span class="description">multiple correct</span>
                checkbox
            </div>
            <div class="item" data-value="radio">
                <span class="description">single correct</span>
                radio
            </div>
        </div>
    </div>
</template>

<template name="optionPreview">
    <div class="field">
        <div class="ui {{#if $eq type 'radio'}}radio{{/if}} read-only checkbox">
            <input name="choice-preview" {{checked}} class="hidden" tabindex="0"
                   type="{{type}}">
            <label>{{text}}</label>
        </div>
    </div>
</template>
